# Copy this file to .env and fill in your real secrets
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
DISCORD_BOT_TOKEN=<YOUR_DISCORD_BOT_TOKEN>
DISCORD_GUILD_ID=1491435881733558374
FLASK_SECRET_KEY=<YOUR_FLASK_SECRET_KEY>
DISCORD_CLIENT_ID=1515335648188432424
DISCORD_CLIENT_SECRET=<YOUR_DISCORD_CLIENT_SECRET>
DISCORD_REDIRECT_URI=http://localhost:5000/callback
